<ion-view view-title="BookMyTicket">
  <ion-content>
  	<div class="card">
	  <div class="item item-text-wrap">
	    <a href="#/app/movie_screen_selection" class="button button-block button-calm">
		    Search by Movie Screen
		</a>
		<a href="#/app/movie_selection" class="button button-block button-calm">
		    Search by Movie
		</a> 
	   </div>
	</div>
	<ion-list>
  		<ion-item class="item-divider item-calm text-center">
  			Now Showing
  		</ion-item>
  	</ion-list>
  	<ion-list>
  		<ion-item href="#/detail" >
  			<div class="item-thumbnail-left">
	  		 	<img src="cover.jpg">
		      	<h2>Pretty Hate Machine</h2>
		      	<p>Nine Inch Nails</p>
		    </div>
		    <div class="item-button-right">
	      		<button class="button button-calm">Book</button>
	      	</div>
	    </ion-item>
	    <ion-item href="#/detail" >
  			<div class="item-thumbnail-left">
	  		 	<img src="cover.jpg">
		      	<h2>Pretty Hate Machine</h2>
		      	<p>Nine Inch Nails</p>
		    </div>
		    <div class="item-button-right">
	      		<button class="button button-calm">Book</button>
	      	</div>
	    </ion-item>
	    <ion-item href="#/detail" >
  			<div class="item-thumbnail-left">
	  		 	<img src="cover.jpg">
		      	<h2>Pretty Hate Machine</h2>
		      	<p>Nine Inch Nails</p>
		    </div>
		    <div class="item-button-right">
	      		<button class="button button-calm">Book</button>
	      	</div>
	    </ion-item>
	    <ion-item href="#/detail" >
  			<div class="item-thumbnail-left">
	  		 	<img src="cover.jpg">
		      	<h2>Pretty Hate Machine</h2>
		      	<p>Nine Inch Nails</p>
		    </div>
		    <div class="item-button-right">
	      		<button class="button button-calm">Book</button>
	      	</div>
	    </ion-item>
  	</ion-list>
  </ion-content>
</ion-view>
