<ion-view view-title="Movie selection">
 	<ion-content>
		<label class="item item-input">
			<input type="text" id="autocomplete" placeholder="Search by movie or actor name"></input>	
		</label>
		<ion-list >
			<ion-list >
		  		<ion-item href="#/detail" >
		  			<div class="item-thumbnail-left">
			  		 	<img src="cover.jpg">
				      	<h2>sfd</h2>
				      	<p>fsdf</p>
				    </div>
				    <div class="item-button-right">
			      		<button class="button button-calm">Book</button>
			      	</div>
			    </ion-item>
		  	</ion-list>
		</ion-list>	
	</ion-content>
</ion-view>