 <ion-view view-title="Movie screen selection">
 	<ion-content>
		<label class="item item-input">
			<input type="text" id="autocomplete" placeholder="Search city"></input>	
		</label>
			<ion-list>
		  		<ion-item href="#/detail" ng-repeat="list in theaterList" >
		  			<div class="item-thumbnail-left">
			  		 	<img src="cover.jpg">
				      	<h2>{{list.theaterName}}</h2>
				      	<p></p>
				    </div>
				    <div class="item-button-right" >
			      		<button class="button button-calm">Shows</button>
			      	</div>
			    </ion-item>
		  	</ion-list>
	</ion-content>
</ion-view>